@model IncidentResponseAPI.Models.EventsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>EventsModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Sensor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Sensor.SensorId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TypeName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Details)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Details)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Timestamp)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Timestamp)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.isProcessed)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.isProcessed)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EventId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>




