@model IEnumerable<IncidentResponseAPI.Models.RecommendationsModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Incident)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.isCompleted)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Incident.IncidentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.isCompleted)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.RecommendationId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.RecommendationId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.RecommendationId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
